@import "tailwindcss";
@plugin "daisyui" {
    themes: corporate --default;
}

html,
body,
#main {
    display: flex;
    width: 100vw;
    height: 100vh;

    /* disable selecting elements */
    user-select: none;
}

/* disable dragging images */
img {
    -webkit-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    text-align: center;
}
